    <div class="contents">
      <% @tweets.each do |x| %>
      <div class="message clearfix">
        <%= image_tag 'cat1.png' %>
        <div class="message_box">
          <p class="user_name">
            野良猫1号
          <p>
          <p class="text">
            <%= x.text %>
          </p>
          <p>
            <%= link_to '編集', edit_tweet_path(x) %>
          </p>
        </div>
      </div>
      <% end %>
    </div>